# root directory files
/submissions/
/config.py
/runlog.txt
# IDE files
.idea/
# binary files
*.class
jam.jar
# example files after running
/examples/**/result.*
/examples/**/*.json
/examples/**/error.txt
/examples/**/timedout